<div class="content-wrapper">
    <div id="content-wrapper">
  
      <div class="container-fluid">
  
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Exam Management</li>
          </ol>
        </div>

         

       <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
            Online Exam List</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Exam Title</th>
                      <th>Date</th>
                      <th>Duration</th>
                      <th>Total Questions</th>
                      <th>Right Answer Marks</th>
                      
                      <th>Status</th>
                      <th>Results</th>

                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr>
                      <td>PHP - Quiz 1</td>
                      <th>2020-03-09</th>
                      <td>60 min</td>
                      <td>10 Questions</td>
                      <td>1 Mark</td>
                      
                      <td><a href="">Start</a></td>
                      <td><a href=""> </a></td>
                      

                     
                    </tr>

                     <tr>
                      <td>PHP - Quiz 2</td>
                      <th>2020-03-09</th>
                      <td>60 min</td>
                      <td>10 Questions</td>
                      <td>1 Mark</td>
                     
                       <td>Completed</td>
                      <td><a href=""> View</a></td>
                      
                     
                    </tr>


                     <tr>
                      <td>PHP - Quiz 3</td>
                      <th>2020-03-09</th>
                      <td>60 min</td>
                      <td>10 Questions</td>
                      <td>1 Mark</td>
                     <td>Completed</td>
                      <td><a href=""> View</a></td>
                      
                     
                    </tr>



                     <tr>
                      <td>PHP - Quiz 4</td>
                      <th>2020-03-09</th>
                      <td>60 min</td>
                      <td>10 Questions</td>
                      <td>1 Mark</td>
                      
                       <td>Completed </td>
                      <td><a href=""> View</a> </td>
                      
                     
                    </tr>

                   
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

          <p class="small text-center text-muted my-5">
            <em>More exams coming soon...</em>
          </p>

        </div>
        </div>