
<div class="container">
  <form action="">
  <div class="row">
    <div class="col-sm">
      <input type="text" class="form-control" id="examTitle"  placeholder="Exam title">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" id="examDuration"  placeholder="Time Duration">
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <input type="text" class="form-control" id="marks"  placeholder="Marks">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" id="instructions"  placeholder="Instructions">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <input type="text" class="form-control" id="module"  placeholder="Module">
    </div>
    <div class="col-sm">
      <input type="text" class="form-control" id="questionCount"  placeholder="Question Count">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Continue</button>
</form>
</div>

