<div class="content-wrapper">
    <div id="content-wrapper">
  
      <div class="container-fluid">
  
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="dashboard.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Add New Exam </li>
        </ol>
  
      </div>
  
  <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Exam Details</div>
    <div class="card-body">
      <form #examForm="ngForm" >
     
        <div class="form-group">
        </div>
  
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="title" name="title" [(ngModel)]="title" class="form-control" placeholder="Title" required = "required">
                <label for="title">Exam Title</label>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-label-group">
                <!-- <label for="module">Module</label> -->
                <select  id="module" name="module" [(ngModel)]="selectedModule">
                    <option *ngFor="let mod of modules" [value]="mod.id" >{{mod.module}}</option>
                    <option value="usa">Module</option>
                </select>  
            </div>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="date" name="date" [(ngModel)]="date" class="form-control" placeholder="Date" required="required">
                  <label for="date">Date</label>
                </div>
              </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="time" name="time" [(ngModel)]="time" class="form-control" placeholder="Time" required="no" >
                <label for="time">Exam Duration(min)</label>
              </div>
            </div>
          </div>
        </div>
                
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
                <div class="form-label-group">
                  <input type="text" id="qcount" name="qcount" [(ngModel)]="qcount" class="form-control" placeholder="Total Questions" required="no">
                  <label for="qcount">Total Questions</label>
                </div>
              </div>

            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="marks" name="marks" [(ngModel)]="marks" class="form-control"  placeholder="Marks"  required="required">
                <label for="marks">Marks</label>
              </div>
            </div>
          </div>
        </div>
  
      <table style="width:100%">
        <tr>
        <th>
        <div class ="btn btn-primary btn-block-row">
          <a class="btn btn-primary btn-block"  href="">Cancel</a>
        </div>
    
        <div class="btn btn-primary btn-block-row">
          <!-- <a class="btn btn-primary btn-block">Done</a> -->
          <button type="submit" class="btn btn-primary" routerLink="/CreateQuestion" (click)="saveExam()">Done</button>
        </div>
    <!-- </div> -->
        </th>
        <th> 
        </th>
        </tr>
    </table>
   </form>
   </div>
   </div>
   </div>
   </div>
   <!-- Angular generated form model : {{examForm.value | json}} -->
  </div>

  