<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">


          <button class="button1">New Messages</button>
          <button class="button2">Users Details</button>
          <button class="button3">Instructions</button>


        </div><!-- /.col -->


      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>


  <!-- /.content-header -->
  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data Table Example
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
          <thead>
          <tr>
            <th>Exam Title</th>
            <th>Duration</th>
            <th>Total Questions</th>
            <th>Right Answer Marks</th>

            <th>Question</th>
            <th>Action</th>


          </tr>
          </thead>

          <tbody>

          <tr>
            <td>PHP - Quiz 1</td>
            <td>60 min</td>
            <td>10 Questions</td>
            <td>1 Mark</td>

            <td><a href="QuestionList.html">View Questions</a></td>
            <td><a href="#">Edit</a> / <a href="#">Delete</a></td>

          </tr>

          <tr>
            <td>PHP - Quiz 2</td>
            <td>60 min</td>
            <td>10 Questions</td>
            <td>1 Mark</td>

            <td><a href="QuestionList.html">View Questions</a></td>
            <td><a href="#">Edit</a> / <a href="#">Delete</a></td>

          </tr>


          <tr>
            <td>PHP - Quiz 3</td>
            <td>60 min</td>
            <td>10 Questions</td>
            <td>1 Mark</td>

            <td><a href="QuestionList.html">View Questions</a></td>
            <td><a href="#">Edit</a> / <a href="#">Delete</a></td>

          </tr>


          <tr>
            <td>PHP - Quiz 4</td>
            <td>60 min</td>
            <td>10 Questions</td>
            <td>1 Mark</td>

            <td><a href="QuestionList.html">View Questions</a></td>
            <td><a href="#">Edit</a> / <a href="#">Delete</a></td>


          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
