  <div class="content-wrapper">
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/LecturerDashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Add Questions</li>
        </ol>
      </div>

      <div class="container">
        <form #questionForm="ngForm">
        <div class="row">
          <div class="col-25">
            <label for="qtn">Question Title</label>
          </div>
          <div class="col-75">
            <input type="text" id="qtn" name="qtn" [(ngModel)]="qtn" placeholder="" required>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="otn1">Option1</label>
          </div>
          <div class="col-75">
            <input type="text" id="otn1" name="otn1" [(ngModel)]="otn1" placeholder="">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="otn1">Option2</label>
          </div>
          <div class="col-75">
            <input type="text" id="otn2" name="otn2" [(ngModel)]="otn2" placeholder="">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="otn1">Option3</label>
          </div>
          <div class="col-75">
            <input type="text" id="otn3" name="otn3" [(ngModel)]="otn3" placeholder="">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="otn1">Option4</label>
          </div>
          <div class="col-75">
            <input type="text" id="otn4" name="otn4" [(ngModel)]="otn4" placeholder="">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="country">Answer</label>
          </div>
          <div class="col-75">
            <select id="answer" name="answer">
              <option *ngFor="let answer of answerList" [value]="answer.id" >{{answer.value}}</option>
              <option value="usa">option4</option>
            </select>
          </div>
        </div>
        
        <table style="width:100%">
          <tr>
          <th>
          <div class="btn btn-primary btn-block-row">
            <a class="btn btn-primary btn-block">Save and Add Question</a>
          </div>

          <div class="btn btn-primary btn-block-row">
            <a class="btn btn-primary btn-block" href ="exam management.html" >Finish</a>
          </div>
          </th>
          <th>
          </th>
          <th>
          <nav aria-label="...">
          <ul class="pagination">
          <li class="page-item disabled">
          <span class="page-link">Previous</span>
          </li>
          <li class="page-item "><a class="page-link" href="add qestions.html">2</a></li>
          <li class="page-item active">
          <span class="page-link">
            3
            <span class="sr-only">(current)</span>
          </span>
          </li>
          <li class="page-item"><a class="page-link" href="add qestions.html">4</a></li>
          <li class="page-item">
          <a class="page-link" href="add qestions.html">Next</a>
          </li>
          </ul>
          </nav>

        </th>
        </tr>
      </table>
      </form>
      </div>
    </div>

  </div>





