<div class="content-wrapper">
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="dashboard.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Online Exam </li>
      </ol>
    </div>


  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Questions</div>
      <!-- <th><font color="green" align="right"><h5>Time 1:00 Hour Remaining</h5></font></th> -->


      <div class="card-body">

        <form action="">
          <table>
              <label>PHP stands for? </label>
          </table>

          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">             
            <tr>       
              <th><input type="radio" name="option1" value="a"> Option1 - Personal Home Page</th>
              <th><input type="radio" name="option2" value="b"> Option 2 - Personal Home Page </th>
            </tr>
        
            <tr> 
              <th><input type="radio" name="option3" value="c"> Option3 - Personal Home Page </th>
              <th><input type="radio" name="option4" value="d"> Option 4 - Personal Home Page </th>
            </tr>
          </table>

          <table style="width:100%">
            <tr>
              <th>
                <div class="btn btn-primary btn-block-row">
                      <a class="btn btn-primary btn-block"  href="">Previous</a>
                </div>
                
                <div class="btn btn-primary btn-block-row">
                  <a class="btn btn-primary btn-block" href ="" >Next</a>
                </div>

                <div class="btn btn-primary btn-block-row">
                  <a class="btn btn-primary btn-block" href ="Exam_Management.html" >Cancel</a>
                </div>
                <!-- </div> -->
              </th>
              <th></th>

              <th>
                <nav aria-label="...">
                  <ul class="pagination">
                    <li class="page-item disabled">
                      <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item "><a class="page-link" href="Questions.html">2</a></li>
                    <li class="page-item active">
                      <span class="page-link">
                        3
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="Questions.html">4</a></li>
                    <li class="page-item">
                      <a class="page-link" href="Questions.html">Next</a>
                    </li>
                  </ul>
                </nav>
              </th>
            </tr>
          </table>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>

